
//TEXT COLORS
$text-main-color: #ffffff;
$text-paragraph-color: #959595;
$text-heading-color:  #222626;
$text-section-color: #959595;
$text-shop-color: #8297a7;

//BACKGROUND COLORS
$dark-white: #f6f7fa;
$green: #82ca9c;
$footer-color: #192431;

//COLORS
$violet: #bd8cbf;
$dark-violet: #615f7d;
$pink: #f5989d;



//TEXT PROPERTIES
$base-text-size: 14px;
$base-line-height: 24px;

//TEXT FONT
$font-base: 'Open Sans', sans-serif;
$font-logo: 'Merriweather', serif;
$font-spare: 'Open Sans Condensed', sans-serif;